<div class="vidBackground"></div>

<!-- Video Background -->
<video class="vid" autoloop="true" autoplay="true">
    <source src="assets/video/video.mp4" type="video/mp4" media="">
</video>


<div class="signInBody">

    <!-- Sign In Box -->
    <section>
        <div class="container">
            <div class="form_content">
                <h2>What is SpeakEasy?</h2>
                <p>SpeakEasy is a journal entry app with integrated voice recognition and the capability of translating your
<<<<<<< HEAD
                    entry from speech to text - without you having to lift a finger to type!</p>
=======
                    entry from voice to text- without you ever having to lift a finger to type!</p>
>>>>>>> bab2e0ec6353a0ee227b80697de453fdf097dbae
            </div>
            <div class="login_form">
                <h1>Sign In</h1>
                <form id="signin" name="signin" method="post" action="signin">
                    <label for="email">Email Address</label>
                    <input class="text" name="email" type="text" />
                    <label for="password">Password</label>
                    <input name="password" type="password" />
<<<<<<< HEAD
                    <a class="btn" href="/signup" type="submit" value="Sign In" />
                </form>

=======
                  //  <input class="btn" type="submit" value="Sign In" />
                </form>
              //  <a href="#">Forget Password</a>
>>>>>>> bab2e0ec6353a0ee227b80697de453fdf097dbae
            </div>
        </div>
        <div class="row top-30">
            <div class="col-md-12 col-sm-2">
                <a class="btn btn-default" href="/signup">Create a New Account</a>
            </div>
        </div>
    </section>
</div>
</div>

<script src="../js/artyom.window.js" type="text/javascript"></script>
